{% extends 'base.html.twig' %}

{% block title %}Контроллер машин | Machine's Controller{% endblock %}

{% block body %}
    <h1>Контроллер машин</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Memory</th>
                <th>Processors</th>
                <th>Available Memory</th>
                <th>Available Processors</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for machine in machines %}
            <tr>
                <td>{{ machine.id }}</td>
                <td>{{ machine.name }}</td>
                <td>{{ machine.memory }}</td>
                <td>{{ machine.processors }}</td>
                <td>{{ machine.availableMemory }}</td>
                <td>{{ machine.availableProcessors }}</td>
                <td>
                    <a href="{{ path('app_machine_show', {'id': machine.id}) }}">Показать данные</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Нет списка машин</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_machine_new') }}">Создать новую машину</a><br><br>
    <a href="{{ path('app_main')}}">Вернуться на главную</a>
{% endblock %}
