{% extends 'base.html.twig' %}

{% block title %}Контроллер процессов | Process's Controller{% endblock %}

{% block body %}
    <h1>Контроллер процессов </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Required_memory</th>
                <th>Required_processors</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for process in processes %}
            <tr>
                <td>{{ process.id }}</td>
                <td>{{ process.name }}</td>
                <td>{{ process.requiredMemory }}</td>
                <td>{{ process.requiredProcessors }}</td>
                <td>
                    <a href="{{ path('app_process_show', {'id': process.id}) }}">Показать данные</a>
                    <a href="{{ path('app_process_edit', {'id': process.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Нет списка процессов</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_process_new') }}">Создать новый процесс</a><br><br>
    <a href="{{ path('app_main')}}">Вернуться на главную страницу</a>
{% endblock %}
